DATABASE_URL="postgresql://postgres:postgres@localhost:5432/strategic_platform?schema=public"
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"
AZURE_AD_CLIENT_ID=""
AZURE_AD_CLIENT_SECRET=""
AZURE_AD_TENANT_ID=""
MICROSOFT_GRAPH_SCOPE="openid profile email offline_access User.Read Group.Read.All Tasks.Read"
APP_URL="http://localhost:3000"
COMPANY_DOMAIN="kedan.com.sa"
APP_DOMAIN="portal.kedan.com.sa"
COMPANY_NAME="شركة كدان"
PLATFORM_NAME="منصة كدان للأداء والمبادرات الاستراتيجية"
LOCAL_AUTH_ENABLED="true"
CRON_SECRET=""

